<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>gestion-reservations-resources</display-name>
	<welcome-file-list>
	<welcome-file>/demo/index.html</welcome-file>
	</welcome-file-list>

	<!-- <listener> -->
	<!-- <listener-class> org.exoplatform.services.portletcontainer.impl.servlet.PortletApplicationListener 
		</listener-class> -->
	<!-- </listener> -->
	<!-- <servlet> -->
	<!-- <servlet-name>PortletWrapper</servlet-name> -->
	<!-- <servlet-class> org.exoplatform.services.portletcontainer.impl.servlet.ServletWrapper</servlet-class> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>PortletWrapper</servlet-name> -->
	<!-- <url-pattern>/PortletWrapper</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!-- <servlet> -->
	<!-- <servlet-name>Faces Servlet</servlet-name> -->
	<!-- <servlet-class>javax.faces.webapp.FacesServlet</servlet-class> -->
	<!-- <load-on-startup>1</load-on-startup> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>Faces Servlet</servlet-name> -->
	<!-- <url-pattern>*.jsf</url-pattern> -->
	<!-- </servlet-mapping> -->
	<!-- <context-param> -->
	<!-- <param-name>primefaces.CLIENT_SIDE_VALIDATION</param-name> -->
	<!-- <param-value>true</param-value> -->
	<!-- </context-param> -->


	<context-param>
		<param-name>javax.portlet.faces.RENDER_POLICY</param-name>
		<param-value>ALWAYS_DELEGATE</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.FACELETS_VIEW_MAPPINGS</param-name>
		<param-value>*.xhtml</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>

	<servlet>

		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	
	<filter>
    <filter-name>ResourceRequestFilter</filter-name>
    <filter-class>org.exoplatform.portal.application.ResourceRequestFilter</filter-class>
</filter>

<filter-mapping>
    <filter-name>ResourceRequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>


</web-app>